body{
  padding: 0;
  margin: 0;
  background: url('gym.jpg') center/cover no-repeat;
}
.navbar li{
  float: left;
  list-style: none;
  /* margin: 59px 21px; */
  padding: 4px 20px;

}
.navbar a{
   text-decoration: none;
   color:rgb(201, 229, 240);
   padding: 59px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: medium;
} 
.navbar li a:hover{
    color:rgb(146, 91, 175);
}
.quote{
  color: rgb(240, 244, 246);
  text-align:center;
  float: both;
  padding: 50px 129px;

  font-family:cursive;
  font-size: 78px;
}
.right {
    color: white;
    padding: 2px 2px;
    float: left;
    margin: 2px auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding: 2px 33px ;
    margin: -10px auto;
    width: 3456px;
}
.btn {
  background-color: rgb(132, 238, 244);
    border: solid rgb(111, 240, 246);
  border-radius: 14px;
}
.btn:hover {
  color:rgba(159, 7, 217, 0.88);


}
.container {
  float: right;
  margin: 1px auto;
  padding: 23px;

}
 .form-group {
  padding: 2px;
  color: aqua;
  margin: 23px;
  text-align: centre;
 }
 .form-group:hover {
  color: rgb(145, 0, 255);

 }
 